<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__STATIC__/css/admin_login.css">
</head>
<body>
    <div></div>
    <div></div>
    <div>
      <form action="__PUBLIC__/index.php/admin/index/adminvali" method="post">
        <div class="top">
            <img src="__STATIC__/images/admin_02.png" alt="">
            <input type="text" name="admin_user" id="" placeholder="请输入用户名">
        </div>
        <div class="bottom">
            <img src="__STATIC__/images/admin_03.png" alt="">
            <input type="password" name="admin_pass" id="" placeholder="请输入密码">
        </div>
        <input type="submit" value="登录">
</form>
    </div>

</body>
</html>
