*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
    font-size: 14px;
    position: relative;
}
p{
    font-size: 18px;
    font-family: "微软雅黑";
}
form{
    line-height: 50px;
    margin-right: 600px;
    width: 500px;
}
form div{
    margin: 0 auto;
    position: relative;
    text-align: right;

}
form span{
    width: 300px;
    padding-left: 10px;
    text-align: left;
    position: absolute;
    line-height: 50px;
}
form input{
    width: 240px;
    height: 30px;
    background-color: rgb(224,224,224);
    outline: none;
    border: none;
    padding-left: 10px;

}
form input[name=inp1],form input[name=inp2],form input[name=inp3]{
    position: relative;
    left: 6px;
}
.bb{
    position: relative;
    left: 5px;
}
